NODE_ENV=development
PORT=3000
# DATABASE_URL="postgres://postgres:EyhgodydEYMmB9W2n6asflQdEcZAg0fFqtLIVBKZZnH98R7R9eFLsemUSD7Vqxck@147.93.107.217:8548/postgres"

DATABASE_URL="postgres://postgres:0MaTFIB60qfqWGLUf0oPZTfXqneuEdPWWB9azwHoVMI39triCRVmvcocRQmr8xd1@187.127.164.72:5569/postgres"

JWT_SECRET="your-super-secure-jwt-secret-key-here-minimum-32-characters"
JWT_REFRESH_SECRET="your-super-secure-refresh-secret-key-here-minimum-32-characters"


JWT_ACCESS_EXPIRE="1d"
JWT_REFRESH_EXPIRE="7d"

BCRYPT_ROUNDS=12

ALLOWED_ORIGINS="http://localhost:3000,http://localhost:3001,https://yourdomain.com"


RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100

MAX_FILE_SIZE=5242880
UPLOAD_PATH="./uploads"

LOG_LEVEL=info


# live :
# PAYPAL_CLIENT_ID=Af78TC_dwKpFdyV3fcP1IKBUJNVD-wZ5QhtPBIBNKW61Hk30aChe3I3umXSSUUiKrPwgUqQAitPLEOVN
# PAYPAL_CLIENT_SECRET=EEuXZkeJmze4m2P1HzDg1Ewsyu_ODhQifgU_lHySV7UtAq88r_YhT9bfs-QUoolz1CX-vDLAR_Hbcgx5

# test credentials
PAYPAL_CLIENT_ID=ASJaaASdYQ7lB5tanw52Zq-h8EEc3FDxqtxahtWTttBAr4-Jlb9w3NfzI8Y7Uuvg0OQKYKDHeUaI2WOM
PAYPAL_CLIENT_SECRET=ELO3X11o6gSwD8798R7zT6nABfhD9z-QxjSMz0wBiYXmkWbp-6EJI-Vi9ojyDyEWyZ2bZpLTVJ4CbyG5

PAYPAL_MODE=sandbox
PAYPAL_CURRENCY=EUR
PAYPAL_MODE="local"
FRONTEND_URL="http://localhost:3000"


EMAIL_USER="mdrakibulhasan12346@gmail.com"
EMAIL_PASS="rbyz nvgi eppd rwqm"

BREVO_API_KEY = "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"